@import '../Global/Global.scss';

.sendPoint {
	position: relative;

	.send {
	    bottom: 0;
	    right: 0;
	}

	textarea {
	    width: 100%;
	    margin: 0;
	    position: relative;
	    top: 5px;
	    height: 100px;
	}

	.pointType {
		.dropdown {
		    float: left;
		    margin-right: 30px;
		}
	}
}