.no-padding {
  padding: 0; }

a:focus, a:hover {
  text-decoration: none; }

button {
  background: none;
  border: 2px solid #93b545;
  border-radius: 8px;
  padding: 5px 70px;
  background-color: #93b545;
  color: #fff; }

input {
  width: 96%;
  font-size: 15px;
  padding: 4px;
  border: 2px solid #000;
  max-width: 220px; }

.dropdown button, textarea {
  border: 2px solid #000;
  border-radius: 0; }

button:focus {
  outline: none; }

.inputTitle {
  margin-top: 10px; }

.formWrapper {
  border-top: 2px solid #ccc;
  padding-bottom: 16px; }

.panel-group {
  margin-bottom: 0; }

.dropdown button {
  min-width: 171px;
  text-align: left;
  padding: 4.5px; }
  .dropdown button .caret {
    position: absolute;
    right: 5px;
    top: 12px;
    border-top: 9px dashed;
    border-top: 4px solid\9;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent; }

.fileUploader ul {
  width: 96%;
  font-size: 15px;
  padding: 4px;
  border: 2px solid #000;
  max-width: 220px; }
  .fileUploader ul li {
    word-break: break-all;
    list-style: none;
    padding: 0; }

.fileUploader aside {
  clear: both;
  display: inline-block;
  float: left;
  width: 50%; }

.upload {
  width: 96%;
  font-size: 15px;
  padding: 4px;
  border: 2px solid #000;
  max-width: 220px;
  border-radius: 10px;
  cursor: pointer; }
  .upload p {
    margin: 0;
    text-align: center; }

h4 {
  font-size: 20px;
  font-weight: 400; }

hr {
  margin: 16px 0 0;
  border-top: 2px solid #555; }

.errorWrapper input {
  border: 2px solid red; }

.error {
  font-size: 12px;
  display: block;
  margin-top: 8px;
  color: red; }

.spiderTextHeader {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }

.SpiderTxt {
  position: relative; }
  .SpiderTxt .send {
    position: absolute;
    bottom: 0;
    right: 0; }
  .SpiderTxt textarea {
    width: 100%;
    margin: 0;
    position: relative;
    top: 5px;
    height: 100px; }
  .SpiderTxt .pointType .dropdown {
    float: left;
    margin-right: 30px; }
  .SpiderTxt textarea {
    margin-right: 30px; }
