@import '../Global/Global.scss';

.spiderTextHeader {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.SpiderTxt {
	position: relative;

	.send {
    	position: absolute;
	    bottom: 0;
	    right: 0;
	}

	textarea {
	    width: 100%;
	    margin: 0;
	    position: relative;
	    top: 5px;
	    height: 100px;
	}

	.pointType {
		.dropdown {
		    float: left;
		    margin-right: 30px;
		}
	}

	textarea {
		margin-right: 30px;
	}
}