.greyBg {
  background-color: whitesmoke;
  padding: 10px;
  margin-top: 3px;
}

.heading {
  display: inline-block;
  border-bottom: 2px solid #555;
}

.centerText {
  text-align: center;
}

.btn {
  margin-left: 5px;
  padding: 1px 9px;
}
